* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 15px;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: lightblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1{
   font-size: 25px;
   text-align: center;
   margin: 40px
}
.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 40px;
   width: 80vw
}

.card {
   background-color: white;
   width: 20%;
   height: 470px;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
   font-size: 10px;
   
}

.card img {
   width: 100%;
   border-radius: 10px;
}

.card h3 {
   font-size: 1.5rem;
   margin: 15px 0 10px;
}

.card p {
   font-size: 1rem;
   color: #666;
}

.card:hover {
   transform: scale(1.05);
   box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
   background-color: rgb(241, 188, 88);
   transform: rotate(10deg);
}

@media (max-width: 992px) {
   .gallery {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 /* For screens smaller than 768px (mobile devices in landscape mode) */
 @media (max-width: 768px) {
   .gallery {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 /* For screens smaller than 576px (mobile devices in portrait mode) */
 @media (max-width: 576px) {
   .gallery {
     grid-template-columns: 1fr;
   }
 }
@media screen and (max-width: 2000px){
   .card {
      background-color: white;
      width: 20%;
      height: 470px;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
      font-size: 10px;
}
}

@media screen and (max-width: 2000px){
   .card img {
      width: 100%;
      border-radius: 10px;
   }
}

@media screen and (max-width: 2000px){
   .card h3 {
      font-size: 1.5rem;
      margin: 15px 0 10px;
   }
}
@media screen and (max-width: 2000px){
   .card p {
      font-size: 1rem;
      color: #666;
   }
}
