* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: lightblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1{
   
   text-align: center;
   margin: 40px
}
.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 40px;
   width: 80vw
}

.card {
   background-color: white;
   width: 300px;
   height: 470px;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card img {
   width: 100%;
   border-radius: 10px;
}

.card h3 {
   font-size: 1.5rem;
   margin: 15px 0 10px;
}

.card p {
   font-size: 1rem;
   color: #666;
}

.card:hover {
   transform: scale(1.05);
   box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
   background-color: pink
}
