 body{
    
    background-color:lightblue; /* Light blue background */
    margin: 0;
    padding: 0;
 }

 h1{
    text-align: center;
 }

 div{
    align-items: center;
    text-align: center;
    border: 20px solid yellow

 }
 .imagebox{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    width: 300px
    
 }
 .sigma{
    width: 300px;

 }
 .skibidi{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    width: 300px
 }

 .sigma2{
    width: 300px;
 }